/*|| General styles*/
.red-border {
    border: 1px solid red;
}

:root {
    --yellow: #FEE505;
    --ochre: #E6B905;
    --CTAyellow: #FDB812;
    --CTAorange: #FE7805;
    --orange: #E68B05;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: seashell;
    background: white;
    font-size: 125%; /*20px*/
    text-align: center;

  }

  .flex-container {
    display: flex;
    justify-content: center;
  }



/*|| Text options*/

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

}



h1 {
    font-size: 3.5rem;
    font-weight: 400;
    
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;

}

p {
    font-family: 'Raleway', sans-serif;
}

.upperCase {
    text-transform: uppercase;
}

.about-heading {
    padding-right: 2.5rem;
    text-align: end;


}

.contact-heading {
    padding-left: 2.5rem;
    text-align: start;

}


.subheading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}





li a {
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 0.75rem;
}

.black-text {
    color: black;
}

.white-text a {
    color: white;
}

.white-text {
    color: white;
}

/*|| Utilities*/

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem 4rem;
    margin: 4rem 2.5rem;

    border: 0.5rem solid ;
}



/*|| Header section*/
header {
width: 100vw;
height: 100vh;
}

.top-nav {
    position: absolute;
    top: 0;
    width: 100vw;

}



.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}




.pageHero {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-side {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    width: 50vw;
    height: 100vh;
    background: white;
}

.right-side {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url(/media/portfolio960×1080px.jpg);
    background-size: cover;

}