/*|| General styles*/
.red-border {
    border: 1px solid red;
}



:root {
    --yellow: #FEE505;
    --ochre: #E6B905;
    --CTAyellow: #FDB812;
    --CTAorange: #FE7805;
    --orange: #E68B05;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    
    box-sizing: inherit;
    }



html {
    font-size: 62.5%;  /*10px*/
    
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    text-align: left;
    font-size: clamp(1.5rem, 1vw + 1rem, 2rem);

  }

  .flex-container {
    display: flex;
  }

  .grid-container {
    display: grid;
    gap: .5rem;
  }

  

/*|| Text options*/

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 1rem 0;

}



h1 {
    font-size: clamp(2.4rem, 2vw + 1.25rem, 4rem); 
    font-weight: 400;
    line-height: 1.8;
    
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;

}

h3 {
    font-size: clamp(1.8rem, 2vw + 1rem, 3rem);
    padding: 5rem;
    text-align: center;
}

h4 {
    font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
}

p {
    font-family: 'Raleway', sans-serif;
    padding: .5rem;
    max-width: 75ch;
}


.subheading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.4rem, 1vw + 1rem, 2.2rem);

    color: grey;
}

.upperCase {
    text-transform: uppercase;
}





li a {
    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;

    padding: 0 2rem;
}



.black-text {
    color: black;
}



.white-text {
    color: white;
}

.yellow-text {
    color: var(--CTAyellow);
}

.orange-text {
    color: var(--CTAorange);
}


/*|| Utilities*/


.button {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: .8em;
    
    width: fit-content;
    height: fit-content;

    border-radius: 1rem;

    white-space: nowrap;
    
    padding: .5em 2.5em;
    margin-top: 1em;
    
    background-color: transparent;
    
}
.no-underline {
    text-decoration: none;
}
    

.icon-orange {
    color: var(--CTAorange);
}

.icon-white {
    color: white;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }



/*|| Header section*/


.nav-menu {
    
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}



.top-nav {
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
}



.top-nav ul {
    justify-content: flex-end;
    padding-right: .5rem;
}

.top-nav a {
    color: white;
    transition: color .3s;
}

.top-nav a:hover {
    color: var(--CTAyellow);
}

.top-nav a:active {
    color: var(--ochre);
}



.page-hero {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.page-hero > div {
    width: 50vw;

    display: grid;
    gap: .5rem;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

.left-side {
    
    justify-content: end;

    background: white;
}

.right-side {
    justify-content: start;

    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url(/media/man-earth.jpg);
    background-size: cover;
    background-position: center;

}

.about-heading {
    
    grid-area: 3 /  2 / 5 / 6;

    text-align: end;


}

.work-button {
    
    grid-area: 5 /  5 / 5 / 6;
    
    border: .1em solid var(--CTAyellow);

    color: black;

    background: linear-gradient(#FE7805 0 0) var(--p,0%) / var(--p,0%) no-repeat;
    transition: 1s,background-position 0s ;

    
}

.work-button:hover,
.work-button:focus {
    --p: 100%;
    color: white;
}

.contact-heading {

    grid-area: 3 /  2 / 5 / 6;

    text-align: start;

}

.contact-button {
    
    grid-area: 5 /  2 / 5 / 3;

    
    border: 0.05em solid #FDB812;
    color: white;

    
    
    
    background: linear-gradient(#FDB812 0 0) calc(100% - var(--p,0%)) / var(--p,0%) no-repeat;

    transition: 1s,background-position 0s ;
}

.contact-button:hover, 
.contact-button:focus  {
    color: black;
    --p: 100%;
}





/*|| Sections*/

section {
    display: flex;
    flex-flow: row wrap;
}

section:nth-child(even) {
    flex-direction: row-reverse;
}

section > div {
    width: 50%;
}

section div.text {
    padding: 2rem 4rem;
}

section div.section-title {
    height: 100vh;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(6, 1fr);

    padding: 1.5rem 3rem;

    text-align: left;


    position: sticky;
    position: -webkit-sticky;
    top: 0;

    color: white;
}


.section-heading {
    grid-area: 4 /  1 / 5 / 4;
    padding-left: 1rem;
}

.section-nav {
    
    grid-area: 7 /  1 / 7 / 7;
    align-self: end;
}

.section-menu {
    justify-content: flex-start;
}


.section-nav a {
    color: white;
}


/*|| Work section*/



.work-title {
    background:  linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/media/code-coloured960×1080px.jpg) center;
    background-size: cover;

}


.cards {
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin: 2rem;
    padding: 1rem;


    width: 25rem;
    height: 25rem;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 1rem;

    cursor: pointer;


    transition:all 0.3s ease-in-out;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;
    width: 100%;
    max-width: 6rem;


    border-radius: 100%;
    background: linear-gradient(90deg, #FE7805 -0.45%, #FDB812 99.55%);

    transition: all 0.5s ease-in;
}

.card-title {
    margin: 1.5rem;
    text-align: center;
}

.card-text {
    text-align: center;
    font-size: 1.4rem;
    transition: all 0.5s ease-in;
    opacity: 0;
}

.card:hover {
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.24);
}

.card:hover .card-text {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    

}

details {
    display: flex;
    justify-content: center;
    align-items: center;
}

details > summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    
    list-style: none;

}

details > p {
    font-size: 1.3rem;
}


/*|| About section*/

.about-title {
    background:  linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(/media/CartoonMe_1644314905004.jpg) left 15rem center no-repeat;
    background-size: contain;
}

/*|| Contact section*/

.contact-title {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/media/contact\(960×1080px\).jpg) left center no-repeat;
    background-size: cover;
}



/*|| Media queries*/


@media (max-width: 768px){

    .page-hero {
        display: block;
    }

    .page-hero > div {
        
        width: 100%;
        height: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    section {
        display: block;
    }

    section div {
        width: 100%;
    }

    section div.section-title {
        position: static;
    }

    
    .about-heading {
        text-align: center;
    }

    .contact-heading {
        text-align: center;
    }

    .nav-menu {
        display: none;
    }


}

